* {
  background-color: #393E46;
  font-family: 'Lobster', cursive;
}


body {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  /* padding-top: 10%; */
  font-size: 70px;
  color: #4ECCA3;
}

.inside-contain {
  display: flex;
  justify-content: center;
}

.players {
  padding: 4rem;
}

img {
  width: 200px;
  height: inherit;
}

p {
  font-size: 30px;
  text-align: center;
  color: #4ECCA3;
}



.button {
  display: block;
  margin: auto;
  font-size: 1.2rem;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  background: #4ECCA3;
  border: 2px solid #276e56;
  padding: 30px 60px;
  border-radius: 45px;
  color: white;
  overflow: hidden;
  box-shadow: none;
  transition: all 0.2s ease-in;
  z-index: 1;
}

.button:hover {
  transform: scale(1.01);
  box-shadow: none;
}